@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Regular.woff2") format("woff2"),
       url("/fonts/Lato-Regular.woff") format("woff"),
       url("/fonts/Lato-Regular.ttf") format("truetype")
  ;
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Light.woff2") format("woff2"),
       url("/fonts/Lato-Light.woff") format("woff"),
       url("/fonts/Lato-Light.ttf") format("truetype")
  ;
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Bold.woff2") format("woff2"),
       url("/fonts/Lato-Bold.woff") format("woff"),
       url("/fonts/Lato-Bold.ttf") format("truetype")
  ;
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Italic.woff2") format("woff2"),
       url("/fonts/Lato-Italic.woff") format("woff"),
       url("/fonts/Lato-Italic.ttf") format("truetype")
  ;
  font-weight: normal;
	font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-BoldItalic.woff2") format("woff2"),
       url("/fonts/Lato-BoldItalic.woff") format("woff"),
       url("/fonts/Lato-BoldItalic.ttf") format("truetype")
  ;
  font-weight: bold;
	font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  src: url("/fonts/Lato-Semibold.woff2") format("woff2"),
       url("/fonts/Lato-Semibold.woff") format("woff"),
       url("/fonts/Lato-Semibold.ttf") format("truetype")
  ;
  font-weight: 600;
	font-style: normal;
  font-display: swap;
}

:root {
  --bg-color: #FFF;
  --txt-color: #020202;
  --clr-highlight: #9b2423;
  --table-border-color: #AAA;
  --table-bg-main: var(--bg-color);
  --table-bg-secondary: #EFEFEF;

}
@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1E1E1E;
    --txt-color: #FFF;

    --table-border-color: #AAA;
    --table-bg-secondary: #2E2E2E;
  }
}

html, body {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--txt-color);
  font-size: 16px;
  font-family: "Lato", sans-serif;
}
button { color: var(--txt-color); }

* {
  box-sizing: border-box;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table {
  border-collapse: collapse;
}
.table th, .table td {
  padding: 7px 5px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--table-border-color);
  background: var(--table-bg-main);
}
.table th {
  font-weight: 600;
}
.table tr:nth-child(even) th,
.table tr:nth-child(even) td {
  background: var(--table-bg-secondary);
}
.table th:first-child,
.table td:first-child {
  text-align: right;
}
.table td { min-width: 5em; }

@media (max-width: 500px) {
  .table th, .table td { font-size: 0.7em; }
}